<div class="form-group m-3">
	<label for="lang"><b>Ngôn ngữ</b></label>
	<select data-name="lang" class="form-control objData" id="lang">
		{{#select lang}}
		<option value="en">English</option>
		<option value="vi">Việt Nam</option>
		{{/select}}
	</select>
</div>