<div class="p-3 m-3 border rounded">
	<p> {{transl 'greeting'}}, {{transl 'own'}} {{transl 'name'}} {{transl 'is'}} <b>{{firstName}}</b> <b>{{lastName}}</b>. {{transl 'gender'}} {{transl 'is'}} <b>{{gender}}</b> {{transl 'i'}} am {{transl 'from'}} <b>{{address.streetAddress}}</b>, <b>{{address.city}}</b>, <b>{{address.state}}</b>, <b>{{address.postalCode}}</b>.
	</p>
	<p> {{transl 'i'}} {{transl 'have'}} <b>{{phoneNumbers.length}}</b> {{transl 'phoneNumbers'}}:</p>
	<ul>
		{{#phoneNumbers}}
		<li><b> {{type}}</b> {{transl 'is'}} <b>{{number}}</b></li>
		{{/phoneNumbers}}
	</ul>
	<p>{{transl 'and'}} {{transl 'i'}} {{transl 'have'}} <b>{{friends.length}}</b> friends:</p>
	<ul>
		{{#friends}}
		<li><b>{{name}}</b> {{transl 'and'}} {{transl 'his'}} {{transl 'phoneNumbers'}} {{transl 'is'}} <b>{{tel}}</b></li>
		{{/friends}}
	</ul>
</div>