<form class="p-3 m-3 border rounded">
	<div class="form-group">
		<label for="firstName"><b>{{transl 'first_name'}}:</b></label>
		<input type="text" class="objData form-control" data-name="firstName" value="{{uppercase firstName}}">
	</div>
	<div class="form-group mt-2">
		<label for="lastName"><b>{{transl 'last_name'}}:</b></label>
		<input type="text" class="objData form-control" data-name="lastName" value="{{uppercase lastName}}">
	</div>
	<div class="form-group mt-2">
		<label for="gender"><b>{{transl 'gender'}}:</b></label>
		<select data-name="gender" class="form-control objData">
			{{#select gender}}
			<option value="man">Man</option>
			<option value="woman">Woman</option>
			{{/select}}
		</select>
	</div>
	<div class="form-group mt-2">
		<label for="age"><b>{{transl 'age'}}:</b></label>
		<input type="text" class="objData form-control" data-name="age" value="{{age}}" placeholder="Enter age">
	</div>
	<div class="form-group mt-2">
		<label for="streetAddress"><b>{{transl 'street_address'}}:</b></label>
		<input type="text" class="objData form-control" data-group="address" data-name="streetAddress"
			value="{{address.streetAddress}}">
	</div>
	<div class="form-group mt-2">
		<label for="city"><b>{{transl 'city'}}:</b></label>
		<input type="text" class="objData form-control" data-group="address" data-name="city" value="{{address.city}}">

	</div>
	<div class="form-group mt-2">
		<label for="state"><b>{{transl 'state'}}:</b></label>
		<input type="text" class="objData form-control" data-group="address" data-name="state"
			value="{{address.state}}">
	</div>
	<div class="form-group mt-2">
		<label for="postalCode"><b>{{transl 'postal_code'}}:</b></label>
		<input type="text" class="objData form-control" data-group="address" data-name="postalCode"
			value="{{address.postalCode}}">
	</div>
	<div class="form-group mt-2">
		<label for="homeNumber"><b>{{transl 'phone_numbers'}}:</b></label>
		<ul class="list-group">
			{{#phoneNumbers}}
			<li class="list-group-item">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="phoneNumberType{{@index}}">{{transl 'type'}}:</label>
							<input type="text" class="form-control objData" id="phoneNumberType{{@index}}"
								data-group="phoneNumbers" data-gindex="{{@index}}" data-name="type" value="{{type}}">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="phoneNumber{{@index}}">{{transl 'phone_numbers'}}:</label>
							<input type="text" class="form-control objData" id="phoneNumber{{@index}}"
								data-group="phoneNumbers" data-gindex="{{@index}}" data-name="number"
								value="{{number}}">
						</div>
					</div>
				</div>
			</li>
			{{/phoneNumbers}}
		</ul>
	</div>
	<div class="form-group mt-2">
		<label for="friends"><b>{{transl 'friends'}}:</b></label>
		<ul class="list-group">
			{{#friends}}
			<li class="list-group-item">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="friendName{{@index}}">{{transl 'name_title'}}:</label>
							<input type="text" class="objData form-control" id="friendName{{@index}}"
								data-group="friends" data-gindex="{{@index}}" data-name="name" value="{{name}}">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="friendPhone{{@index}}">{{transl 'phone_numbers'}}:</label>
							<input type="text" class="objData form-control" id="friendPhone{{@index}}"
								data-group="friends" data-gindex="{{@index}}" data-name="tel" value="{{tel}}">
						</div>
					</div>
				</div>
			</li>
			{{/friends}}
		</ul>
	</div>
	<div class="d-flex justify-content-end">
		<button id="btn_show" type="button" class="btn btn-info mt-2 float-right">{{transl 'ok_show_modifications'}}</button>
	</div>
</form>


